<div>
  <h1 class="display-6 text-center"> All Gifs </h1>
  </br>
  <h4 class="display-10 text-center"> <%= link_to 'This way to Your Favorite Gifs', user_path(current_user) %>
</div>
</br>

<% @gifs_slices.each do |group| %>
  <div class="card-deck">
    <% group.each do |gif| %>
      <div class="card" size:"300x500" background:"#E0FFFF;">
        <%=link_to image_tag(gif.image_path, size: "337x500", id: "image_#{gif.id}")%>
        <div class="card-body">
          <p class="card-text"><%= gif.category.name %></p>
          </br>
          <% if current_user %>
            <p class="card_form"><%= form_for current_user.favorites.new, url: user_favorites_path(current_user) do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :gif_id, value: gif.id  %>
              <%= f.submit 'Add Gif To Your Favorites' %>
            <% end %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  </br>
<% end %>
 
